In [1]:
# use finrl
import pandas as pd
import numpy as np
import datetime
import yfinance as yf

from finrl.meta.preprocessor.
from finrl.meta.preprocessor.preprocessors import FeatureEngineer, data_split
from finrl import config_tickers
from finrl.config import INDICATORS

import itertools

In [8]:
INDICATORS

['macd',
 'boll_ub',
 'boll_lb',
 'rsi_30',
 'cci_30',
 'dx_30',
 'close_30_sma',
 'close_60_sma']

In [2]:
from tvDatafeed import TvDatafeed,Interval
tv = TvDatafeed(username=None,password=None)

you are using nologin method, data you access may be limited

In [37]:
df = tv.get_hist("SCB", "SET", interval=Interval.in_daily, n_bars=365)
df = df.reset_index()

In [38]:
df

               datetime   symbol   open   high     low   close      volume
0   2021-10-15 09:00:00  SET:SCB  123.5  124.5  122.50  123.00  14625900.0
1   2021-10-18 09:00:00  SET:SCB  123.0  124.5  123.00  123.50   9755000.0
2   2021-10-19 09:00:00  SET:SCB  124.0  124.5  122.00  122.50   7837900.0
3   2021-10-20 09:00:00  SET:SCB  122.5  126.0  122.00  125.50  20217400.0
4   2021-10-21 09:00:00  SET:SCB  126.0  126.5  124.00  124.00  11767600.0
..                  ...      ...    ...    ...     ...     ...         ...
360 2023-04-20 09:00:00  SET:SCB  100.0  100.5   98.75   99.75  36607662.0
361 2023-04-21 09:00:00  SET:SCB  100.5  103.5  100.00  103.00  29851796.0
362 2023-04-24 09:00:00  SET:SCB  103.5  104.0  102.50  102.50  12742362.0
363 2023-04-25 09:00:00  SET:SCB  102.0  103.0  101.50  102.00   9033649.0
364 2023-04-26 09:00:00  SET:SCB  102.0  104.0  102.00  104.00  15882927.0

[365 rows x 7 columns]

In [39]:
df = df.rename(columns = {"datetime":"date","symbol":"tic"})

In [40]:
df['date'] = df['date'].dt.date.astype(str)

In [45]:
df['tic'] = "SCB"

In [42]:
def convertday2int(text):
    date = datetime.datetime.strptime(text, '%Y-%m-%d').date()
    weekday = (date.weekday()) % 5
    return weekday

In [43]:
df['day'] = df['date'].apply(convertday2int)

In [49]:
df.head()

         date  tic   open   high    low  close      volume symbol  day
0  2021-10-15  SCB  123.5  124.5  122.5  123.0  14625900.0    SCB    4
1  2021-10-18  SCB  123.0  124.5  123.0  123.5   9755000.0    SCB    0
2  2021-10-19  SCB  124.0  124.5  122.0  122.5   7837900.0    SCB    1
3  2021-10-20  SCB  122.5  126.0  122.0  125.5  20217400.0    SCB    2
4  2021-10-21  SCB  126.0  126.5  124.0  124.0  11767600.0    SCB    3

In [47]:
fe = FeatureEngineer(use_technical_indicator=True,
                     tech_indicator_list = INDICATORS,
                     use_vix=True,
                     use_turbulence=True,
                     user_defined_feature = False)

processed = fe.preprocess_data(df)

Successfully added technical indicators
[*********************100%***********************]  1 of 1 completed
Shape of DataFrame:  (383, 8)
Successfully added vix
Successfully added turbulence index

In [50]:
processed.head()

,date,tic,open,high,low,close,volume,symbol,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix,turbulence
0,2021-10-15,SCB,123.5,124.5,122.5,123.0,14625900.0,SCB,4,0.000000,123.957107,122.542893,100.000000,66.666667,100.000000,123.000,123.000,16.299999,0.0
1,2021-10-18,SCB,123.0,124.5,123.0,123.5,9755000.0,SCB,0,0.011218,123.957107,122.542893,100.000000,66.666667,100.000000,123.250,123.250,16.309999,0.0
2,2021-10-19,SCB,124.0,124.5,122.0,122.5,7837900.0,SCB,1,-0.016716,124.000000,122.000000,32.584270,-100.000000,100.000000,123.000,123.000,15.700000,0.0
3,2021-10-20,SCB,122.5,126.0,122.0,125.5,20217400.0,SCB,2,0.079303,126.254956,120.995044,78.198221,127.272727,23.178808,123.625,123.625,15.490000,0.0
4,2021-10-21,SCB,126.0,126.5,124.0,124.0,11767600.0,SCB,3,0.070120,126.002173,121.397827,57.925934,100.694444,37.003745,123.700,123.700,15.010000,0.0