In [1]:
# version 3
from trade_algorithm import indicators
from tvDatafeed import TvDatafeed
import pandas as pd
import os
import json
import datetime
import numpy as np
from sklearn import preprocessing
import pythainav as nav
from utils import get_data, load_data

pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', 30)
pd.set_option('display.width', 1000)

tv = TvDatafeed(username=None,password=None)

you are using nologin method, data you access may be limited

In [2]:
# list stock config
with open(os.path.join(os.getcwd(),'config','list_stock','stock_config.json')) as f:
    json_stock = json.load(f)

assert json_stock is not None, "error read stock config"

# indicator config for long term
with open(os.path.join(os.getcwd(),'config','indicator','long_indicator.json')) as f:
    indicator_config_long = json.load(f)

assert indicator_config_long is not None, "error read indicator config (long term)"

# indicator config for short term
with open(os.path.join(os.getcwd(),'config','indicator','short_indicator.json')) as f:
    indicator_config_short = json.load(f)

assert indicator_config_short is not None, "error read indicator config (short term)"

# config
with open(os.path.join(os.getcwd(),'config','config.json')) as f:
    config = json.load(f)

assert config is not None, "error read config"

# find current date
current_date = datetime.datetime.today().date()

indicator_engine = indicators()

# prepare config
mode = config['mode']
max_days = config[mode]['len_data']
max_days = max(max_days)

for key_exc in json_stock[f'list_{mode}']:
    print(f'exchange: {key_exc}')

    dict_min_value_1 = {}
    dict_min_value_2 = {}
    dict_remaining_date = {}
    dict_pair_daywithscore = {
        "stock_score":[],
        "min_date":[]
    }

    dict_stock_name_score = {}
    for namest2dict in json_stock[f'list_{mode}'][key_exc]:
        dict_stock_name_score.update({namest2dict:0})
        dict_remaining_date.update({namest2dict:{}})
        for t in config[mode]['len_data']:
            dict_remaining_date[namest2dict].update({f"{t}":0})

    for namest in json_stock[f'list_{mode}'][key_exc]:
        if config['fetch_newdata'] == "on":
            try:
                data = get_data(tv, nav, key_exc, namest, max_days, mode)
                if len(data) == 0:
                    continue
            except Exception as e:
                print(f'stock name: {namest}')
                print(f'error: {e}')
                continue
        else:
            data = load_data(namest, mode, key_exc, max_days)

        score = 0
        # first indicators
        for indicator in config[mode]['long_indicators']:
            # print('indicator:',indicator)
            score += indicator_engine.process(f"{indicator}", data, indicator_config_long[f'{indicator}'])
        
        # print('score:',score)
        dict_stock_name_score[namest] = score

        for t in config[mode]['len_data']:
            data_follow_time = load_data(namest, mode, key_exc, t)

            # find min value in dataframe
            data_cal_number_days = data_follow_time[data_follow_time['close'] == min(list(data_follow_time['close']))]

            # convert timestamp to datetime.date
            if len(data_cal_number_days) > 1:
                data_cal_number_days = data_cal_number_days.iloc[-1,:]
                date_min_value = data_cal_number_days['datetime'].to_pydatetime().date()
            else:
                # convert numpy.datetime64 to datetime
                date_min_value = pd.to_datetime(data_cal_number_days['datetime'].values[0]).to_pydatetime().date()
            # date_min_value = data_cal_number_days['datetime'].to_pydatetime().date()
            remaining_date = current_date - date_min_value
            
            df_min_value = data_follow_time[data_follow_time['close'] == min(list(data_follow_time['close']))]
            df_current_value = data_follow_time.iloc[-2:-1,:]
            if t == 62:
                dict_remaining_date[namest][f'{t}'] = remaining_date.days
                dict_min_value_1[namest] = df_current_value['close'].values[0] - min(list(data_follow_time['close']))
            else:
                dict_remaining_date[namest][f'{t}'] = remaining_date.days
                dict_min_value_2[namest] = df_current_value['close'].values[0] - min(list(data_follow_time['close']))
            
    # sort data by current close value minus the smallest a value in the past
    dict_min_value_1_sort = dict(sorted(dict_min_value_1.items(), key=lambda item: item[1], reverse=True))
    dict_min_value_2_sort = dict(sorted(dict_min_value_2.items(), key=lambda item: item[1], reverse=True))

    # increse score following by date
    dict_prepare_sort = {}
    score_follow_time = 0.5
    for data_v in config[mode]['len_data']:
        for key,_ in dict_remaining_date.items():
            dict_prepare_sort[key] = dict_remaining_date[key][f"{data_v}"]
        
        dict_remaining_date_sort = dict(sorted(dict_prepare_sort.items(), key=lambda item: item[1],reverse=True))
        list_score = [i+score_follow_time for i in range(10)]

        reverse_date_tomin_first = dict(sorted(dict_remaining_date_sort.items(), key=lambda item: item[1]))
        
        print(f'List stock name of the lowest close value in the {data_v} days')
        for k,v in reverse_date_tomin_first.items():
            if int(v) <= 10:
                dict_pair_daywithscore['min_date'].append(k)
                print(k,v)
        print('stock min day:',dict_pair_daywithscore['min_date'])
        print('-'*100)

        for add_score, key_score in zip(list_score,list(dict_remaining_date_sort.keys())[:10]):
            dict_stock_name_score[key_score] = dict_stock_name_score[key_score] + add_score

        score_follow_time+=0.5        
        
        # loop increase score
    for dict_sort_value in [dict_min_value_1_sort, dict_min_value_2_sort]:
        # print('dict_sort_value:',dict_sort_value)
        # normalize score
        list_score = [i*1000 for i in range(1,len(dict_sort_value)+1)]
        np_score = np.array(list_score)
        normalized_arr = preprocessing.normalize([np_score])
        # print('normalize:',normalized_arr.tolist()[0])

        dict_score = {} 
        for score,(k,v) in zip(normalized_arr.tolist()[0],dict_sort_value.items()):
            dict_score.update({k:score})

        # print('dict_score:',dict_score)
        for k,v in dict_score.items():
            dict_stock_name_score[k] = dict_stock_name_score[k] + dict_score[k]


    # print('score:',dict_stock_name_score)
    dict_stock_name_score_sort = dict(sorted(dict_stock_name_score.items(), key=lambda item: item[1], reverse=True))

    # print('dict_stock_name_score_sort final:',dict_stock_name_score_sort)
    
    print(f'days: {max_days}')
    print('-'*100)
    int_check = 0
    for k,v in dict_stock_name_score_sort.items():
        dict_pair_daywithscore['stock_score'].append(k)
        print(k,v)
        int_check+=1
        if int_check >=10:
            break
    print('-'*100)

    # pair
    print(f'The name of the stock that has reached the lowest price in {config[mode]["len_data"]} days')
    dict_pair_daywithscore['stock_score'] = dict_pair_daywithscore['stock_score'][:10]
    for stock_sc in dict_pair_daywithscore['stock_score']:
        if stock_sc in dict_pair_daywithscore['min_date']:
            # list_date_less_than_10.append(stock_sc)
            print(stock_sc)

    # testing
    # trend up 
    dict_stock_trend_up = {}
    for tup in dict_pair_daywithscore['min_date']:
        dict_stock_trend_up.update({tup:0})

    for tup in dict_pair_daywithscore['min_date']:
        try:
            # data = get_data(tv, key_exc, tup, days)
            # data = data.reset_index()
            data = load_data(namest, mode, key_exc, t)
        except Exception as e:
            print(f'stock name: {tup}')
            print(f'error: {e}')
            continue

        score = 0
        # first indicators
        for indicator in config[mode]['short_indicators']:
            # print('indicator:',indicator)
            score += indicator_engine.process(f"{indicator}", data, indicator_config_short[f'{indicator}'])

        dict_stock_trend_up[tup] = score

    dict_stock_trend_up_sort = dict(sorted(dict_stock_trend_up.items(), key=lambda item: item[1], reverse=True))
    print('the name of stock is trend up')
    for k,v in dict_stock_trend_up_sort.items():
        print(k,v)

    print()

exchange: SET
List stock name of the lowest close value in the 62 days
SCGP 2
BANPU 2
COM7 2
TVO 2
PM 2
JTS 2
ASP 3
TU 4
stock min day: ['SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
SCGP 2
BANPU 2
COM7 2
TVO 2
PM 2
JTS 2
ASP 3
TU 4
GC 9
stock min day: ['SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'GC']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
SCGP 2
BANPU 2
COM7 2
TVO 2
PM 2
JTS 2
ASP 3
TU 4
MSC 4
GC 9
stock min day: ['SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'GC', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'MSC', 'GC']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
SCGP 2
BANPU 2
COM7 2
TVO 2
PM 2
JTS 2
ASP 3
TU 4
MSC 4
GC 9
stock min day: ['SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'GC', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'MSC', 'GC', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'MSC', 'GC']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
SCGP 2
BANPU 2
COM7 2
TVO 2
PM 2
JTS 2
ASP 3
TU 4
stock min day: ['SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'GC', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'MSC', 'GC', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU', 'MSC', 'GC', 'SCGP', 'BANPU', 'COM7', 'TVO', 'PM', 'JTS', 'ASP', 'TU']
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
TRUE 31.124819213158894
PTTEP 21.009245867641397
ORI 20.647933882262393
DRT 19.726523757214295
AWC 17.6941632204694
THG 16.0184917352828
GULF 15.046229338206999
TCAP 14.5600981396691
BGRIM 14.555475205848397
AMATA 14.104016010965749
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
the name of stock is trend up
SCGP 8
BANPU 8
COM7 8
TVO 8
PM 8
JTS 8
ASP 8
TU 8
GC 8
MSC 8

exchange: NASDAQ
List stock name of the lowest close value in the 62 days
GILT 2
MNTS 2
NKLA 2
ARVL 2
HYZN 2
WKHS 2
RIDE 2
CRON 2
MAPS 2
XXII 2
GOEV 8
AKAN 8
ASTR 9
ACB 9
stock min day: ['GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
GILT 2
MNTS 2
NKLA 2
ARVL 2
HYZN 2
WKHS 2
RIDE 2
CRON 2
MAPS 2
XXII 2
GOEV 8
AKAN 8
ASTR 9
ACB 9
stock min day: ['GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
GILT 2
MNTS 2
NKLA 2
ARVL 2
HYZN 2
WKHS 2
RIDE 2
CRON 2
MAPS 2
XXII 2
GOEV 8
AKAN 8
ASTR 9
ACB 9
stock min day: ['GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
GILT 2
MNTS 2
NKLA 2
ARVL 2
HYZN 2
WKHS 2
RIDE 2
CRON 2
MAPS 2
XXII 2
GOEV 8
AKAN 8
ASTR 9
ACB 9
stock min day: ['GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
GILT 2
MNTS 2
NKLA 2
ARVL 2
HYZN 2
WKHS 2
RIDE 2
CRON 2
MAPS 2
XXII 2
GOEV 8
AKAN 8
ASTR 9
ACB 9
stock min day: ['GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB', 'GILT', 'MNTS', 'NKLA', 'ARVL', 'HYZN', 'WKHS', 'RIDE', 'CRON', 'MAPS', 'XXII', 'GOEV', 'AKAN', 'ASTR', 'ACB']
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
LI 59.64359163172355
NVDA 54.520513090246226
CSCO 46.63333508660044
BNTX 42.664104721969764
ADBE 41.54102618049244
SATS 31.68461781221599
INTU 27.55128272561555
VSAT 26.653848176846658
IRDM 16.592308906107995
NFLX 14.51025654512311
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
the name of stock is trend up
GILT 0
MNTS 0
NKLA 0
ARVL 0
HYZN 0
WKHS 0
RIDE 0
CRON 0
MAPS 0
XXII 0
GOEV 0
AKAN 0
ASTR 0
ACB 0

exchange: NYSE
List stock name of the lowest close value in the 62 days
SPIR 2
LEV 2
HYLN 2
SPCE 8
FSR 9
stock min day: ['SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
SPIR 2
LEV 2
HYLN 2
SPCE 8
FSR 9
stock min day: ['SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
SPIR 2
LEV 2
HYLN 2
SPCE 8
FSR 9
stock min day: ['SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
SPIR 2
LEV 2
HYLN 2
SPCE 8
FSR 9
stock min day: ['SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
SPIR 2
LEV 2
HYLN 2
SPCE 8
FSR 9
stock min day: ['SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR', 'SPIR', 'LEV', 'HYLN', 'SPCE', 'FSR']
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
RDW 55.97338106833115
CRM 55.54733810683311
SE 50.59467621366623
XPEV 42.87870485466492
BABA 38.64201432049934
ORCL 36.689352427332466
MAXR 25.736690534165575
AJRD 20.78402864099869
IBM 17.831366747831808
NIO 14.426042961498037
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
the name of stock is trend up
SPIR -1
LEV -1
HYLN -1
SPCE -1
FSR -1

exchange: CSE
List stock name of the lowest close value in the 62 days
AAWH.U 2
GTII 3
TRUL 3
CURA 4
JUSH 4
VRNO 9
CL 9
CCHW 9
AYR.A 9
stock min day: ['AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
AAWH.U 2
GTII 3
TRUL 3
CURA 4
JUSH 4
VRNO 9
CL 9
CCHW 9
AYR.A 9
stock min day: ['AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
AAWH.U 2
GTII 3
TRUL 3
CURA 4
JUSH 4
VRNO 9
CL 9
CCHW 9
AYR.A 9
stock min day: ['AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
AAWH.U 2
GTII 3
TRUL 3
CURA 4
JUSH 4
VRNO 9
CL 9
CCHW 9
AYR.A 9
stock min day: ['AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A']
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
AAWH.U 2
GTII 3
TRUL 3
CURA 4
JUSH 4
VRNO 9
CL 9
CCHW 9
AYR.A 9
stock min day: ['AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A', 'AAWH.U', 'GTII', 'TRUL', 'CURA', 'JUSH', 'VRNO', 'CL', 'CCHW', 'AYR.A']
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
TRUL 47.389108448948775
GTII 42.30019760405389
JUSH 38.12237591426414
CURA 32.033465069369264
AYR.A 28.211286759159016
CCHW 22.85564337957951
CL 16.944554224474388
VRNO 10.766732534684632
TER 9.588910844894876
PLTH 8.677821689789756
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
TRUL
GTII
JUSH
CURA
AYR.A
CCHW
CL
VRNO
the name of stock is trend up
AAWH.U -5
GTII -5
TRUL -5
CURA -5
JUSH -5
VRNO -5
CL -5
CCHW -5
AYR.A -5

exchange: EURONEXT
List stock name of the lowest close value in the 62 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
stock min day: []
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
MC 28.03452248382485
KER 24.103567451474547
CDI 21.569044967649695
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
the name of stock is trend up

exchange: HKEX
List stock name of the lowest close value in the 62 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
stock min day: []
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
1913 19.5
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
the name of stock is trend up

exchange: LSE
List stock name of the lowest close value in the 62 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
stock min day: []
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
BRBY 21.5
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
the name of stock is trend up

exchange: MIL
List stock name of the lowest close value in the 62 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 93 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 124 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 155 days
stock min day: []
----------------------------------------------------------------------------------------------------
List stock name of the lowest close value in the 365 days
stock min day: []
----------------------------------------------------------------------------------------------------
days: 365
----------------------------------------------------------------------------------------------------
MONC 28.288854381999833
BC 22.394427190999913
----------------------------------------------------------------------------------------------------
The name of the stock that has reached the lowest price in [62, 93, 124, 155, 365] days
the name of stock is trend up

In [4]:
import pythainav as nav

In [5]:
getd = nav.get_all("K-GA-A(D)", asDataFrame=True)

In [6]:
getd = getd.drop(["tags","fund"],axis=1)
getd = getd.rename(columns = {'value':'close','updated':'datetime'})

In [7]:
getd
#

       close   datetime
0    12.1239 2022-04-11
1    12.1572 2022-04-12
2    12.0949 2022-04-19
3    12.1572 2022-04-20
4    12.2255 2022-04-21
..       ...        ...
219  11.0679 2023-03-31
220  11.1364 2023-04-03
221  11.1563 2023-04-04
222  11.1466 2023-04-05
223  11.1294 2023-04-11

[224 rows x 2 columns]

In [10]:
data_cal_number_days = getd[getd['close'] == min(list(getd['close']))]

In [12]:
date_min_value = pd.to_datetime(data_cal_number_days['datetime'].values[0]).to_pydatetime().date()

In [9]:
loadd = pd.read_parquet(os.path.join(os.getcwd(),'data', mode, 'SET' ,f"M.parquet"))

In [10]:
loadd

               datetime symbol   open   high    low  close     volume
0   2021-10-12 09:00:00  SET:M  53.25  54.75  53.25  54.25  1777400.0
1   2021-10-14 09:00:00  SET:M  54.50  55.75  54.50  55.25  1903300.0
2   2021-10-15 09:00:00  SET:M  55.75  56.50  55.25  55.75  2315900.0
3   2021-10-18 09:00:00  SET:M  56.00  56.25  54.75  55.75   622200.0
4   2021-10-19 09:00:00  SET:M  55.75  55.75  54.50  54.75   659000.0
..                  ...    ...    ...    ...    ...    ...        ...
360 2023-04-05 09:00:00  SET:M  51.25  51.25  50.75  50.75   485258.0
361 2023-04-07 09:00:00  SET:M  51.00  51.25  50.25  50.50   940409.0
362 2023-04-10 09:00:00  SET:M  50.75  51.25  50.50  51.00   250882.0
363 2023-04-11 09:00:00  SET:M  51.25  51.25  50.50  50.75   512662.0
364 2023-04-12 09:00:00  SET:M  51.00  51.00  50.50  51.00   351244.0

[365 rows x 7 columns]

In [11]:
loadd.iloc[64:,:]

               datetime symbol   open   high    low  close    volume
64  2022-01-18 09:00:00  SET:M  52.25  52.50  51.75  52.00  374900.0
65  2022-01-19 09:00:00  SET:M  52.00  52.00  51.25  51.75  268200.0
66  2022-01-20 09:00:00  SET:M  52.00  52.25  51.75  52.25  503600.0
67  2022-01-21 09:00:00  SET:M  51.75  52.25  51.75  52.25  292300.0
68  2022-01-24 09:00:00  SET:M  52.00  52.25  51.75  51.75  347300.0
..                  ...    ...    ...    ...    ...    ...       ...
360 2023-04-05 09:00:00  SET:M  51.25  51.25  50.75  50.75  485258.0
361 2023-04-07 09:00:00  SET:M  51.00  51.25  50.25  50.50  940409.0
362 2023-04-10 09:00:00  SET:M  50.75  51.25  50.50  51.00  250882.0
363 2023-04-11 09:00:00  SET:M  51.25  51.25  50.50  50.75  512662.0
364 2023-04-12 09:00:00  SET:M  51.00  51.00  50.50  51.00  351244.0

[301 rows x 7 columns]