In [3]:
from tvdatafeed import TvDatafeed
from tvDatafeed import Interval

In [4]:
datafeed = TvDatafeed()

you are using nologin method, data you access may be limited

In [6]:
getd = datafeed.get_hist("TOP", "SET", interval=Interval.in_daily, n_bars=5)
getd

                      symbol   open   high    low  close      volume
datetime
2023-05-15 09:00:00  SET:TOP  47.50  47.50  46.50  46.75  12972817.0
2023-05-16 09:00:00  SET:TOP  46.50  47.25  46.25  46.75   7534101.0
2023-05-17 09:00:00  SET:TOP  46.50  46.75  44.50  45.00  14231606.0
2023-05-18 09:00:00  SET:TOP  46.25  46.25  45.50  45.50   9017433.0
2023-05-19 09:00:00  SET:TOP  45.50  45.75  44.50  44.75  10594605.0